version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: peluqueria-web
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80

